.columns > div {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > div:not(.columns-img-col) {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}

.columns > div > .columns-img-col:not(.columns.image-no-order > div > .columns-img-col) {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns > div > div > *:last-child {
  margin-bottom: 0;
}

/* styles for column download variant */
.columns.download > div > div {
  max-width: 300px;
  margin: auto;
}

.columns.download em {
  color: var(--link-color)
}

.download .secondary:any-link {
  padding: 0;
}

@media (width >= 640px) {
  /* styles for column grid variant */
  .columns.grid > div {
    flex-flow: row wrap;
    justify-content: center;
  }

  .columns.grid > div > div {
    text-align: center;
    max-width: 100%;
    margin: 0;
  }

  .columns.grid > div .col-wide {
    flex-basis: calc((100% / 2) - 15px);
  }

  .columns.grid > div .col-narrow {
    flex-basis: calc((100% / 3) - 20px);
  }
}

@media (width >= 960px) {
  .columns > div {
    flex-flow: row;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
    width: auto;
  }

  .columns.grid div > .columns-row-wrapper {
    padding-top: 0;
  }

  .columns.grid > div .col-wide, 
  .columns.grid > div .col-narrow {
    flex-basis: 0;
  }
}
