.columns > div {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns > div > div > *:last-child {
  margin-bottom: 0;
}

@media (width >= 768px) {
  .columns > div {
    flex-flow: row wrap;
    gap: 30px;
    justify-content: center;
  }

  .columns > div > div {
    width: calc(50% - 15px);
  }
}

@media (width >= 960px) {
  .columns > div {
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 40px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
    width: auto;
  }
}
