.highlight {
  position: relative;
  color: var(--white);
  aspect-ratio: 3/4;
  width: 100%;
}

.highlight picture {
  display: flex;
  height: 100%;
  width: auto;
  margin: 0 calc((100vw - 100%) / -2);
  transition: all 300ms ease-in-out;
}

.highlight.active picture {
  transform: scale(1) !important;
}

picture::after {
  display: block;
  content: "";
  background: linear-gradient(180deg, rgb(0 0 0 / 0%), rgb(0 0 0 / 40%));
  top: revert-layer;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.highlight picture img {
  object-fit: cover;
  width: 100%;
}

.highlight.block .highlight-slides-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 0;
  height: 100%;
  overflow: hidden;
}

.highlight .highlight-slide {
  min-height: 100%;
  display: flex;
  align-items: flex-end;
  padding: 0 20px 56px;
}

.highlight .highlight-slide div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.highlight .highlight-slide h2 {
  margin: 0;
}

@media (width >= 768px) {
  .highlight {
    aspect-ratio: 16/9;
  }

  .highlight .highlight-slide {
    padding: 0 30px;
    align-items: center;
    max-width: 507px;
  }
}

@media (width >= 1024px) {
  .highlight .highlight-slide {
    padding: 172px 30px 0;
    align-items: flex-start;
  }

  .highlight .highlight-slide div {
    gap: 20px;
  }
}

@media (width >= 1440px) {
  .highlight .highlight-slide {
    padding: 255px 30px 0;
  }

  .highlight .highlight-slide div {
    gap: 24px;
  }
}
