/* header and nav layout */
header .nav-wrapper {
  --color-gray: #999;

  width: 100%;
  z-index: 2;
  position: relative;
}

header nav {
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  height: var(--nav-height);
  padding: 15px 30px;
}

header nav[aria-expanded='true'] {
  overflow-y: auto;
  min-height: 100vh;
  background-color: #222;
  color: var(--color-gray);
  max-width: 350px;
  width: 50%;
  position: relative;
  min-width: 270px
}

header .nav-brand,
.nav-link-section .icon-logo-bimota-h {
  display: none;
}

header .nav-wrapper.hide  .nav-brand {
  display: none;
}

header .nav-wrapper.hide nav {
  height: 100px;
}

header nav p {
  margin: 0;
  line-height: 1;
}

.nav-logo-mobile {
  position: absolute;
  top: 10px;
  left: 0;
  transform: translateX(40vw);
}

.nav-logo-mobile .icon-logo-bimota-h {
  width: 100%;
  height: 100%;
  max-width: 170px;
  max-height: 47px;
}

header a:any-link,
.nav-drop-text {
  color: currentcolor;
  padding: 5px 0;
  display: flex;
  align-items: center;
  column-gap: .25em;
  text-decoration: none;
}

.nav-sections a.active,
.nav-drop.active .nav-drop-text { 
  color: var(--c-primary-white);
}

/* brand */
header .nav-brand img {
  max-width: 100%;
  height: auto;
}

header .nav-link-section {
  display: flex;
  flex-flow: column;
  gap: 30px;
}

/* sections */
header .nav-sections {
  flex: 1;
  display: none;
  visibility: hidden;
}

header nav[aria-expanded='true'] .nav-sections {
  display: flex;
  visibility: visible;
}

.nav-tools .default-content-wrapper {
  display: flex;
  padding: 7px;
  list-style: none;
  margin-bottom: 0;
  align-items: center;
}

header .nav-sections .default-content-wrapper {
  flex: 1;
}

.nav-sections .default-content-wrapper .nav-logo {
  align-self: flex-start;
}

header .nav-sections ul {
  list-style: none;
  padding-left: 0;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: flex-start;
  column-gap: .25em;
  flex-flow: column;
}

header .nav-sections ul li {
  width: 100%;
}

.nav-sections ul > li > ul {
  margin-top: 0;
}

/* tools */
header .nav-tools {
  display: none;
  visibility: hidden;
}

header nav[aria-expanded='true'] .nav-tools {
  display: flex;
  visibility: visible;
  padding-left: 30px;
  align-items: center;
}

.nav-tools .default-content-wrapper li {
  padding: 5px 10px 6px;
  line-height: 1;
  color: var(--c-primary-white);
}

/* hamburger */
header .nav-hamburger {
  height: 22px;
  display: flex;
  align-self: start;
  justify-content: flex-end;
  flex: 1;
}

header .nav-hamburger button {
  height: 22px;
  margin: auto;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: transparent;
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
  cursor: pointer;
}

header .nav-hamburger-icon,
header .nav-hamburger-icon::before,
header .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header .nav-hamburger-icon::before,
header .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded='true'] .nav-hamburger {
  flex: initial;
  align-self: flex-end;
}

header nav[aria-expanded='false'] .nav-hamburger-icon,
header nav[aria-expanded='false'] .nav-hamburger-icon::before,
header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: var(--color-gray);
}

header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::before,
header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

/* nav-drop */
header .nav-drop {
  position: relative;
  cursor: pointer;
}

header .nav-drop::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 5px;
  transform: rotate(135deg);
  width: 6px;
  height: 6px;
  border: 2px solid currentcolor;
  border-radius: 0 1px 0 0;
  border-width: 2px 2px 0 0;
}

header .nav-drop[aria-expanded='false'] ul {
  display: none;
}

header .nav-drop[aria-expanded='true'] ul {
  display: flex;
  flex-flow: column;
  padding: 5px 0 5px 15px;
}

header .nav-drop[aria-expanded='true']::after {
  bottom: 0.5em;
  transform: rotate(315deg);
}

.nav-sections .nav-drop-text:hover {
  text-decoration: none;
}

.nav-sections a:hover,
header nav[aria-expanded='true'] button:hover .nav-hamburger-icon::after,
header nav[aria-expanded='true'] button:hover .nav-hamburger-icon::before,
header .nav-drop[aria-expanded='true']:hover::after {
  color: #ffffffb2;
}

@media (width >= 640px) {
  header .nav-drop::after {
    top: 8px;
  }
}

@media (width >= 992px) {
  header {
    --nav-height: 130px;
  }

  header nav {
    display: flex;
    justify-content: space-between;
  }

  header a:any-link,
  .nav-link-section .a,
  .nav-tools .default-content-wrapper li {
    color: var(--text-color);
    letter-spacing: 1px;
    font-weight: 400;
  }

  header .nav-wrapper {
    max-width: 100%;
    background-color: var(--c-primary-white);
    position: fixed;
  }

  header nav[aria-expanded='true'] {
    min-height: auto;
    overflow: visible;
    margin: auto;
    background-color: var(--c-primary-white);
    padding-top: 0;
    max-width: 1280px;
    width: 100%;
  }

  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }

  header .nav-brand {
    display: block;
    align-self: flex-end;
  }

  header .nav-link-section {
    flex-flow: row;
  }

  header .nav-sections {
    display: flex;
    visibility: visible;
    white-space: nowrap;
    align-items: center;
  }

  header .nav-sections .default-content-wrapper {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    flex: 1;
    align-items: center;
  }

  .nav-logo-mobile .icon-logo-bimota-h {
    display: none;
  }

  header .nav-sections .icon-logo-bimota-h {
    display: block;
    height: 100%;
    width: 100%;
    max-width: 250px;
    max-height: 70px;
  }

  .nav-sections a:hover,
  .nav-sections a.active,
  .nav-drop.active .nav-drop-text {
    color: var(--link-color);
  }

  header .nav-sections ul {
    display: flex;
    gap: 30px;
    margin: 0;
    flex-flow: row;
    align-items: center;
    justify-content: center;
  }

  .nav-tools .default-content-wrapper li {
    cursor: pointer;
  }

  header .nav-sections .default-content-wrapper > ul > li {
    flex: 0 1 auto;
    position: relative;
    font-weight: 500;
    min-height: 80px;
    display: flex;
  }

  header .nav-sections .default-content-wrapper > ul > li > ul {
    display: none;
    position: relative;
  }

  header .nav-sections .default-content-wrapper > ul > li[aria-expanded='true'] > ul {
    display: block;
    position: absolute;
    width: 250px;
    top: 80px;
    padding: 25px;
    background-color: var(--c-primary-white);
    white-space: initial;
    box-shadow: 0 5px 12px rgba(0 0 0 / 15%);
  }

  .nav-tools .default-content-wrapper a,
  .nav-drop-text {
    color: var(--text-color);
  }

  .nav-tools a:any-link:hover {
    color: var(--text-color);
  }
  
  .nav-sections .nav-drop ul a:any-link {
    color: var(--color-gray);
  }
  
  .nav-sections .nav-drop ul a:hover {
    color: var(--link-hover-color);
  }

  header .nav-sections .default-content-wrapper > ul > li > ul > li {
    padding: 8px 0;
  }

  header .nav-drop::after {
    display: none;
  }

  header nav[aria-expanded='true'] .nav-tools {
    padding-left: 0;
  }
}