.carousel {
  --slide-gap: 0px;
  --slide-width: 100%;
  --slide-part-on-edge: 0;
  --slide-transition-time: 300ms;

  overflow: hidden;
  position: relative;
  user-select: none;
}

.carousel-slide-wrapper {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  gap: var(--slide-gap);
}

.carousel-slide {
  width: var(--slide-width);
  min-width: var(--slide-width);
  pointer-events: none;
  overflow: hidden;
}

.carousel-arrow-buttons {
  display: none;
}

.carousel-arrow-buttons button {
  width: 34px;
  height: 34px;
  padding: 0;
  background: transparent;
  border: unset;
  position: absolute;
  top: 50%;
  margin: 0 30px;
}

.carousel-arrow-buttons button:first-of-type {
  transform: translateY(-50%) rotate(180deg);
}

.carousel-arrow-buttons button:last-of-type {
  transform: translateY(-50%);
  right: 0;
}

.carousel-arrow-buttons button img {
  width: 24px;
  height: 24px;
  display: flex;
}

.carousel .transition-effect {
  transition: transform var(--slide-transition-time) ease;
}

.carousel-nav {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 12px;
  justify-content: center;
}

.carousel-nav-button {
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: 0.2s ease-in-out;
  transition-property: color, background-color, border-color, box-shadow;
  border: 1px solid rgb(29 29 27 / 40%);
  padding: 0;
}

.carousel-nav-button-active,
.carousel-nav-button-active:focus {
  background-color: rgb(29 29 27 / 60%);
  border-color: transparent;
}

.carousel-slide-media-only {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.carousel-slide-media-only.carousel-slide picture,
.carousel-slide-media-only.carousel-slide p {
  height: 100%;
  display: flex;
}

.carousel-slide-media-only picture img,
.carousel-slide-media-only p video {
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.carousel.full-width .carousel-slide-wrapper {
  min-height: 300px;
}

@media (width >= 768px) {
  .carousel {
    --slide-gap: 30px;
    --slide-width: 50%;
    --slide-part-on-edge: 0.5;
  }

  .carousel-arrow-buttons {
    display: flex;
  }

  .carousel.full-width {
    --slide-gap: 0px;
    --slide-width: 100%;
    --slide-part-on-edge: 0;
  }
}

@media (width >= 960px) {
  .carousel {
    --slide-gap: 40px;
  }

  .carousel.full-width {
    --slide-gap: 0px;
  }
}
