.carousel {
  --slide-gap: 30px;
  --slide-width: 50%;

  overflow: hidden;
  position: relative;
  user-select: none;
}

.carousel-slide-wrapper {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  gap: var(--slide-gap);
}

.carousle-slide {
  width: var(--slide-width);
  min-width: var(--slide-width);
  pointer-events: none;
}

.carousel-buttons {
  display: flex;
}

.carousel-buttons button {
  width: 34px;
  height: 34px;
  padding: 0;
  background: transparent;
  border: unset;
  position: absolute;
  top: 50%;
}

.carousel-buttons button:first-of-type {
  transform: translateY(-50%) rotate(180deg);
}

.carousel-buttons button:last-of-type {
  transform: translateY(-50%);
  right: 0;
}

.carousel-buttons button img {
  width: 24px;
  height: 24px;
  display: flex;
}

.carousel .transition-effect {
  transition: transform 250ms ease;
}

.carousel-nav {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 12px;
  justify-content: center;
}

.carousel-nav-button {
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: 0.2s ease-in-out;
  transition-property: color, background-color, border-color, box-shadow;
  border: 1px solid rgb(29 29 27 / 40%);
  padding: 0;
}

.carousel-nav-button-active,
.carousel-nav-button-active:focus {
  background-color: rgb(29 29 27 / 60%);
  border-color: transparent;
}
