.table {
  overflow: auto;
  width: 100%;
  text-align: left;
}

.table .table-element {
  border-collapse: collapse;
}

.table td {
  padding: 8px;
  border-top: 1px solid #ddd;
  vertical-align: top;
}

.table tr:first-of-type td {
  border-top: none;
}

.table td p {
  margin: 0;
}

.table tr:nth-child(2n) td {
  background-color: var(--c-primary-white);
  color: #111;
}

.table tr:nth-child(2n + 1) td {
  background-color: #f9f9f9;
  color: #111;
}

.table tr:hover td {
  background-color: #f3f3f3;
}

.table.with-borders tr td {
  background-color: inherit;
  border: 1px solid #1d1d1b;
  vertical-align: middle;
}
