.text > div {
  max-width: 750px;
}

/* centering by variant */
.text.center > div {
  margin: auto;
}

.text.center .button-container {
  text-align: center;
}

/* centering by set the text aling in the document */
.section-center .text {
  text-align: center;
}
