.block.image picture {
  display: flex;
}

.block.image picture img {
  aspect-ratio: 16 / 9;
  width: 100%;
}

/* 2 images */
.block.image.images-wide-row > div {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.block.image.images-wide-row picture img {
  aspect-ratio: 4/3;
}

.block.image.images-wide-row > div > div:nth-child(2) img {
  width: 252px;
  height: auto;
}

/* sticky variant */
.block.image.sticky {
  width: 100vw;
  margin-left: calc((100vw - 100%) * -1 / 2);
  aspect-ratio: 16 / 9;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

@media (width >= 768px) {
  /* 2 images */
  .block.image.images-wide-row > div {
    flex-direction: row;
    align-items: flex-end;
  }

  .block.image.images-wide-row > div > div:nth-child(1) {
    flex-grow: 434;
  }

  .block.image.images-wide-row > div > div:nth-child(2) {
    flex-grow: 250;
  }

  .block.image.images-wide-row > div > div:nth-child(2) img {
    width: auto;
  }
}

@media (width >= 1440px) {
  /* 2 images */
  .block.image.images-wide-row {
    width: 100vw;
    margin-left: calc((100vw - 100%) * -1 / 2);
  }
}
